body {
  text-align: center;
}

div {
  border: 1px solid black;
}

.menu-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.rules-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.board-extended-div {
  width: 1000px;
  margin: auto;
}

.board-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.status-bar-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-visible {
  height: 160px;
  width: 160px;
  border-radius: 7px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 100px;
  width: 100px;
}