:root {
  --color-black: rgb(0, 0, 0);
  --color-light-grey: rgb(230, 230, 230);
  --color-grey: rgb(100, 100, 100);
  --color-white: rgb(255, 255, 255);
  --color-orange: rgb(255, 60, 0);
  --color-red-orange: rgb(255, 15, 0);
  --color-transparent-100: rgba(255, 255, 255, 0);
}

body {
  text-align: center;
  font-family: Verdana, sans-serif;
  background-image: url('./images/marble.png');
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--color-black);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-left-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.evista-logo {
  height: 3em;
  width: auto;
  margin: 0.3em 1em;
}

.evista-logo-hidden {
  height: 3em;
  width: auto;
  margin: 0em 1em;
  visibility: hidden;
}

.rules-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.description-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 880px;
  margin: auto;
}

.title {
  color: var(--color-black);
  font-weight: normal;
}

.deck-size-selector {
  font-size: 1em;
  padding: 10px 17px;
  margin: 5px;
}

.deck-size-selector:hover {
  cursor: pointer;
}

.button {
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 7px;
  transition-duration: 100ms;
  transition-property: background-color;
}

.button:hover,
.button:active {
  cursor: pointer;
  border-color: var(--color-red-orange);
  background-color: var(--color-red-orange);
}

.restart-button {
  color: var(--color-black);
  border-color: var(--color-black);
  background-color: var(--color-transparent-100);
  font-weight: bold;
}

.restart-button:hover,
.restart-button:active {
  cursor: pointer;
  background-color: var(--color-light-grey);
  border-color: inherit;
}

.board-extended-div {
  max-width: 880px;
  margin: auto;
}

.menu-element-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 0.75em;
  font-weight: bold;
  color: var(--color-grey);
}

.board-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.status-bar-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.current-tries {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restart-game-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------- cards ----------------*/

.card-container {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 7px;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-face:hover,
.card-face:active {
  cursor: pointer;
}

.card-face-back {
  transform: rotateY(180deg);
}

.card-face-found {
  box-shadow: none;
  background-color: var(--color-transparent-100);
}

.card-face-found:hover,
.card-face-found:active {
  cursor: auto;
}

.card-face-front-found {
  box-shadow: none;
}

/* --------------- cards end ----------------*/

.card-image {
  height: 90px;
  width: 90px;
}

.card-image-found {
  opacity: 0.5;
}

#rules-main-title {
  margin: 4em 0 1.5em;
  font-size: 2em;
}

#deck-size-text {
  font-size: 0.75em;
  font-weight: bolder;
}

#current-tries-value {
  color: var(--color-black);
  font-weight: bolder;
}

#best-game-number {
  font-size: 1.8em;
  margin: 0 0 0.5em;
}

@media only screen and (max-width: 900px) {
  .menu-center-div {
    justify-content: flex-end;
  }

  .menu-right-div {
    display: none;
  }
  
  .card-container {
    height: 100px;
    width: 100px;
    margin: 7px;
  }

  .card-face {
    border-radius: 5px;
  }

  .card-image {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (max-width: 700px) {
  .menu-div {
    flex-direction: column;
  }

  .menu-left-div {
    justify-content: center;
    border-bottom: 5px solid var(--color-light-grey);
  }

  .menu-center-div {
    flex-direction: column;
  }

  .menu-right-div {
    display: none;
  }
  
  .deck-size-selector {
    font-size: 0.9em;
    padding: 9px 15px;
    margin: 4px;
  }

  .button {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 5px;
    padding: 9px 18px;
    margin: 7px;
  }

  .card-container {
    height: 70px;
    width: 70px;
    margin: 6px;
  }

  .card-face {
    border-radius: 4px;
  }

  .card-image {
    height: 55px;
    width: 55px;
  }
}